In [1]:
fact = 'The Moon has no atmosphere.'
fact + 'No sound can be heard on the Moon.'

'The Moon has no atmosphere.No sound can be heard on the Moon.'

In [3]:
two_facts = fact + 'No sound can be heard on the Moon.'
two_facts

'The Moon has no atmosphere.No sound can be heard on the Moon.'

In [4]:
multiline = "Facts about the Moon:\n There is no atmosphere.\n There is no sound."
print(multiline)

Facts about the Moon:
 There is no atmosphere.
 There is no sound.

In [5]:
'Moon' in 'This text will describe facts and challenges with space travel'

False

<h2>Ejercicio 1

In [6]:
text = """Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. 
On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C."""

text_parts = text.split('. ')
text_parts

['Interesting facts about the Moon',
 "The Moon is Earth's only satellite",
 'There are several interesting facts about the Moon and how it affects life here on Earth',
 '\nOn average, the Moon moves 4cm away from the Earth every year',
 'This yearly drift is not significant enough to cause immediate effects on Earth',
 'The highest daylight temperature of the Moon is 127 C.']

In [7]:
keywords = ["average", "temperature", "distance"]

In [8]:
for item in text_parts:
    for keyword in keywords:
        if keyword in item:
            print(item)
            break

On average, the Moon moves 4cm away from the Earth every year
The highest daylight temperature of the Moon is 127 C.

In [11]:
for item in text_parts:
    for keyword in keywords:
        if keyword in item:
            print(item.replace("C", "Celsius"))
            break

On average, the Moon moves 4cm away from the Earth every year
The highest daylight temperature of the Moon is 127 Celsius.

<h2>Ejercicio 2

In [34]:
name = "Moon"
gravity = 0.00162 # in kms
planet = "Earth"

In [35]:
titulo = f"Gravity in {planet} and {name}"
titulo

'Gravity in Earth and Moon'

In [36]:
plantilla = f"{'-'*80}\n Planeta seleccionado : {planet} \n Gravedad en {name}: {gravity*1000} m/s"
print(plantilla)

--------------------------------------------------------------------------------
 Planeta seleccionado : Earth
 Gravedad en Moon: 1.6199999999999999 m/s

In [37]:
union = f"{titulo.title()} \n {plantilla}"
print(union)

Gravity In Earth And Moon
 --------------------------------------------------------------------------------
 Planeta seleccionado : Earth
 Gravedad en Moon: 1.6199999999999999 m/s

In [44]:
name = "Ganimides"
gravity = 0.00143 # in kms
planet = "Marte"

In [45]:
print(union)

Gravity In Earth And Moon
 --------------------------------------------------------------------------------
 Planeta seleccionado : Earth
 Gravedad en Moon: 1.6199999999999999 m/s

In [46]:
new_temp = f"{'-'*80}\n Planeta seleccionado : {planet} \n Gravedad en {name}: {gravity} m/s"

print(new_temp.format(name=name, gravity = gravity*1000, planet=planet))

--------------------------------------------------------------------------------
 Planeta seleccionado : Marte
 Gravedad en Ganimides: 0.00143 m/s